{% extends 'base.html' %}
{% block title %}
Mon application DJANGO
{% endblock %}
{% block menu %}
<h1>Liste des produits</h1>
{% endblock %}
{% block contenu %}

{% if titremenu == "produits" %}
<table class="table">
    <thead>
        <th>Nom</th>
        <th>Code</th>
        <th>Prix HT</th>
        <th>Prix TTC</th>
        <th>Nombre du produit</th>
        <th>Date Création</th>
        <th>Modifier</th>
        <th>Supprimer</th>
    </thead>
    <tbody>
        {% for p in prdct %}

        <tr>
            <!-- <td><a href="/monapp/product/{{p.id}}">{{ p.name }}</a></td> -->
            <td><a href="{% url 'product-detail' p.id %}">{{ p.name }}</a></td>
            <td>{{ p.code }} </td>
            <td>{{ p.price_ht }} </td>
            <td>{{ p.price_ttc }} </td>
            <td>{{ p.nombre_de_produit}}</td>
            <td>{{ p.date_creation }} </td>
            <td><a href="{% url 'product-update' p.id %}">modifier</a></td>
            <td><a href="{% url 'product-delete' p.id %}">supprimer</a></td>

        </tr>
        {% endfor %}

    </tbody>
</table>
{% endif %}
{% if titremenu == "commande" %}
<table class="table">
    <thead>
        <th>Fournisseur</th>
        <th>Produit</th>
        <th>Quantite</th>
        <th>Etat</th>
        <th>Date création</th>
    </thead>
    <tbody>
        {% for p in prdct %}

        <tr>
            <!-- <td><a href="/monapp/product/{{p.id}}">{{ p.name }}</a></td> -->
            <td><a href="{% url 'fournisseur-detail' p.fournisseur.id %}">{{ p.fournisseur.name}}</a></td>
            <td><a href="{% url 'product-detail' p.produit.id %}">{{ p.produit.name }}</a></td>
            <td>{{ p.quantite_du_produit}}</td>
            <td>{{ p.etat }} </td>
            <td>{{ p.date_creation }} </td>
            <td><a href="{% url 'commande-update' p.id %}">modifier</a></td>
            <td><a href="{% url 'commande-delete' p.id %}">supprimer</a></td>

        </tr>
        {% endfor %}

    </tbody>
</table>
{% endif %}

{% if titremenu == "item" %}
<table class="table">
    <thead>
        <th>Nom produit</th>
        <th>Code produit</th>
        <th>Couleur</th>
        <th>Item code</th>
        <th>Attributes</th>
        <th>Modifier</th>
        <th>Supprimer</th>
    </thead>
    <tbody>
        {% for p in prdct %}

        <tr>
            <!-- <td><a href="/monapp/product/{{p.id}}">{{ p.name }}</a></td> -->
            <td>{{ p.product.name }}</td>
            <td>{{ p.product.code }}</td>
            <td>{{ p.color }}</td>
            <td>{{ p.code }} </td>
            <td>{{ p.attributes }} </td>
            <td><a href="{% url 'product-item-update' p.id %}">modifier</a></td>
            <td><a href="{% url 'product-item-delete' p.id %}">supprimer</a></td>

        </tr>
        {% endfor %}

    </tbody>
</table>
{% endif %}

{% if titremenu == "attribut" %}
<table class="table">
    <thead>
    <th>Nom</th>
    <th>Valeurs</th>
    <th>Position</th>
    <th>Actions</th>
    </thead>
    <tbody>
    {% for attribute in prdct %}
    <tr>
    <td>{{ attribute.name}}</td>
    <td>
    {% for value in attribute.productattributevalue_set.all %}
    <p>{{ value.value }}</p>
    {% empty %}
    <p>Aucune valeur</p>
    {% endfor %}
    </td>
    <td>
    {% for value in attribute.productattributevalue_set.all %}
    <p>{{ value.position }}</p>
    {% empty %}
    <p>Aucune valeur</p>
    {% endfor %}
    </td>
    <td>
    <a href="{% url 'attribute-detail' attribute.id %}" class="btn btn-primary mt-2">Détails</a>
    <td><a href="{% url 'product-attribute-update' attribute.id %}">modifier</a></td>
            <td><a href="{% url 'product-attribute-delete' attribute.id %}">supprimer</a></td>
    </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

{% endif %}

{% if titremenu == "fournisseur" %}
<table class="table">
    <thead>
        <th>Nom</th>
        <th>Code</th>
        <th>email</th>
        <th>phone</th>
        <th>address</th>
        <th>website</th>
        <th>Modifier</th>
        <th>Supprimer</th>        
        <th>Voir les produit</th>

    </thead>
    <tbody>
        {% for p in prdct %}

        <tr>
            <!-- <td><a href="/monapp/product/{{p.id}}">{{ p.name }}</a></td> -->
            <td>{{ p.name }}</td>
            <td>{{ p.code }} </td>
            <td>{{ p.email }} </td>
            <td>{{ p.phone }} </td>
            <td>{{ p.address}}</td>
            <td>voir le site : <a href="{{ p.website }}" target="_blank">ici</a></td>
            <td><a href="{% url 'fournisseur-update' p.id %}">modifier</a></td>
            <td><a href="{% url 'fournisseur-delete' p.id %}">supprimer</a></td>            
            <td><a href="{% url 'fournisseur-delete' p.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16"><path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.37 2.37 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0M1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5M4 15h3v-5H4zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zm3 0h-2v3h2z"/></svg></a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endif %}


<p>
    J'ai
    {% if prdcts|length < 5 %} peu de {% elif prdcts|length < 10 %} quelques {% else %} beaucoup de {% endif %} produits
        préférés. </p>
        {% endblock %}